

article {
  display: block;
}



@media only screen and (min-width: 740px) {
  .container,
  .container-full {
    width: 720px;
  }
  .tablet-container {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .tablet-container-full {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 980px) {
  .container,
  .container-full {
    width: 960px;
  }
  .desktop-container {
    width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-container-full {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1140px) {
  .container,
  .container-full {
    width: 1120px;
  }
  .hd-container {
    width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .hd-container-full {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.push-1 {
  left: 8.33333333%;
}
.push-2 {
  left: 16.66666667%;
}
.push-3 {
  left: 25%;
}
.push-4 {
  left: 33.33333333%;
}
.push-5 {
  left: 41.66666667%;
}
.push-6 {
  left: 50%;
}
.push-7 {
  left: 58.33333333%;
}
.push-8 {
  left: 66.66666667%;
}
.push-9 {
  left: 75%;
}
.push-10 {
  left: 83.33333333%;
}
.push-11 {
  left: 91.66666667%;
}
.pull-1 {
  left: -8.33333333%;
}
.pull-2 {
  left: -16.66666667%;
}
.pull-3 {
  left: -25%;
}
.pull-4 {
  left: -33.33333333%;
}
.pull-5 {
  left: -41.66666667%;
}
.pull-6 {
  left: -50%;
}
.pull-7 {
  left: -58.33333333%;
}
.pull-8 {
  left: -66.66666667%;
}
.pull-9 {
  left: -75%;
}
.pull-10 {
  left: -83.33333333%;
}
.pull-11 {
  left: -91.66666667%;
}
.hide-mobile {
  display: none;
}
.show-mobile {
  display: block;
}
.show-mobile-inline-block {
  display: inline-block;
}
.show-mobile-inline {
  display: inline;
}
@media only screen and (min-width: 740px) {
  .col-tablet-1,
  .col-tablet-2,
  .col-tablet-3,
  .col-tablet-4,
  .col-tablet-5,
  .col-tablet-6,
  .col-tablet-7,
  .col-tablet-8,
  .col-tablet-9,
  .col-tablet-10,
  .col-tablet-11,
  .col-tablet-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-tablet-1 {
    width: 8.33333333%;
  }
  .col-tablet-2 {
    width: 16.66666667%;
  }
  .col-tablet-3 {
    width: 25%;
  }
  .col-tablet-4 {
    width: 33.33333333%;
  }
  .col-tablet-5 {
    width: 41.66666667%;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-7 {
    width: 58.33333333%;
  }
  .col-tablet-8 {
    width: 66.66666667%;
  }
  .col-tablet-9 {
    width: 75%;
  }
  .col-tablet-10 {
    width: 83.33333333%;
  }
  .col-tablet-11 {
    width: 91.66666667%;
  }
  .col-tablet-12 {
    width: 100%;
  }
  .push-tablet-1 {
    left: 8.33333333%;
  }
  .push-tablet-2 {
    left: 16.66666667%;
  }
  .push-tablet-3 {
    left: 25%;
  }
  .push-tablet-4 {
    left: 33.33333333%;
  }
  .push-tablet-5 {
    left: 41.66666667%;
  }
  .push-tablet-6 {
    left: 50%;
  }
  .push-tablet-7 {
    left: 58.33333333%;
  }
  .push-tablet-8 {
    left: 66.66666667%;
  }
  .push-tablet-9 {
    left: 75%;
  }
  .push-tablet-10 {
    left: 83.33333333%;
  }
  .push-tablet-11 {
    left: 91.66666667%;
  }
  .pull-tablet-1 {
    left: -8.33333333%;
  }
  .pull-tablet-2 {
    left: -16.66666667%;
  }
  .pull-tablet-3 {
    left: -25%;
  }
  .pull-tablet-4 {
    left: -33.33333333%;
  }
  .pull-tablet-5 {
    left: -41.66666667%;
  }
  .pull-tablet-6 {
    left: -50%;
  }
  .pull-tablet-7 {
    left: -58.33333333%;
  }
  .pull-tablet-8 {
    left: -66.66666667%;
  }
  .pull-tablet-9 {
    left: -75%;
  }
  .pull-tablet-10 {
    left: -83.33333333%;
  }
  .pull-tablet-11 {
    left: -91.66666667%;
  }
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: block;
  }
  .show-tablet-inline-block {
    display: inline-block;
  }
  .show-tablet-inline {
    display: inline;
  }
  .tablet-no-padding {
    padding: 0;
  }
  .tablet-no-push,
  .tablet-no-pull {
    left: 0;
  }
}
@media only screen and (min-width: 980px) {
  .col-desktop-1,
  .col-desktop-2,
  .col-desktop-3,
  .col-desktop-4,
  .col-desktop-5,
  .col-desktop-6,
  .col-desktop-7,
  .col-desktop-8,
  .col-desktop-9,
  .col-desktop-10,
  .col-desktop-11,
  .col-desktop-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-desktop-1 {
    width: 8.33333333%;
  }
  .col-desktop-2 {
    width: 16.66666667%;
  }
  .col-desktop-3 {
    width: 25%;
  }
  .col-desktop-4 {
    width: 33.33333333%;
  }
  .col-desktop-5 {
    width: 41.66666667%;
  }
  .col-desktop-6 {
    width: 50%;
  }
  .col-desktop-7 {
    width: 58.33333333%;
  }
  .col-desktop-8 {
    width: 66.66666667%;
  }
  .col-desktop-9 {
    width: 75%;
  }
  .col-desktop-10 {
    width: 83.33333333%;
  }
  .col-desktop-11 {
    width: 91.66666667%;
  }
  .col-desktop-12 {
    width: 100%;
  }
  .push-desktop-1 {
    left: 8.33333333%;
  }
  .push-desktop-2 {
    left: 16.66666667%;
  }
  .push-desktop-3 {
    left: 25%;
  }
  .push-desktop-4 {
    left: 33.33333333%;
  }
  .push-desktop-5 {
    left: 41.66666667%;
  }
  .push-desktop-6 {
    left: 50%;
  }
  .push-desktop-7 {
    left: 58.33333333%;
  }
  .push-desktop-8 {
    left: 66.66666667%;
  }
  .push-desktop-9 {
    left: 75%;
  }
  .push-desktop-10 {
    left: 83.33333333%;
  }
  .push-desktop-11 {
    left: 91.66666667%;
  }
  .pull-desktop-1 {
    left: -8.33333333%;
  }
  .pull-desktop-2 {
    left: -16.66666667%;
  }
  .pull-desktop-3 {
    left: -25%;
  }
  .pull-desktop-4 {
    left: -33.33333333%;
  }
  .pull-desktop-5 {
    left: -41.66666667%;
  }
  .pull-desktop-6 {
    left: -50%;
  }
  .pull-desktop-7 {
    left: -58.33333333%;
  }
  .pull-desktop-8 {
    left: -66.66666667%;
  }
  .pull-desktop-9 {
    left: -75%;
  }
  .pull-desktop-10 {
    left: -83.33333333%;
  }
  .pull-desktop-11 {
    left: -91.66666667%;
  }
  .hide-desktop {
    display: none;
  }
  .show-desktop {
    display: block;
  }
  .show-desktop-inline-block {
    display: inline-block;
  }
  .show-desktop-inline {
    display: inline;
  }
  .desktop-no-padding {
    padding: 0;
  }
  .desktop-no-push,
  .desktop-no-pull {
    left: 0;
  }
}
@media only screen and (min-width: 1140px) {
  .col-hd-1,
  .col-hd-2,
  .col-hd-3,
  .col-hd-4,
  .col-hd-5,
  .col-hd-6,
  .col-hd-7,
  .col-hd-8,
  .col-hd-9,
  .col-hd-10,
  .col-hd-11,
  .col-hd-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-hd-1 {
    width: 8.33333333%;
  }
  .col-hd-2 {
    width: 16.66666667%;
  }
  .col-hd-3 {
    width: 25%;
  }
  .col-hd-4 {
    width: 33.33333333%;
  }
  .col-hd-5 {
    width: 41.66666667%;
  }
  .col-hd-6 {
    width: 50%;
  }
  .col-hd-7 {
    width: 58.33333333%;
  }
  .col-hd-8 {
    width: 66.66666667%;
  }
  .col-hd-9 {
    width: 75%;
  }
  .col-hd-10 {
    width: 83.33333333%;
  }
  .col-hd-11 {
    width: 91.66666667%;
  }
  .col-hd-12 {
    width: 100%;
  }
  .push-hd-1 {
    left: 8.33333333%;
  }
  .push-hd-2 {
    left: 16.66666667%;
  }
  .push-hd-3 {
    left: 25%;
  }
  .push-hd-4 {
    left: 33.33333333%;
  }
  .push-hd-5 {
    left: 41.66666667%;
  }
  .push-hd-6 {
    left: 50%;
  }
  .push-hd-7 {
    left: 58.33333333%;
  }
  .push-hd-8 {
    left: 66.66666667%;
  }
  .push-hd-9 {
    left: 75%;
  }
  .push-hd-10 {
    left: 83.33333333%;
  }
  .push-hd-11 {
    left: 91.66666667%;
  }
  .pull-hd-1 {
    left: -8.33333333%;
  }
  .pull-hd-2 {
    left: -16.66666667%;
  }
  .pull-hd-3 {
    left: -25%;
  }
  .pull-hd-4 {
    left: -33.33333333%;
  }
  .pull-hd-5 {
    left: -41.66666667%;
  }
  .pull-hd-6 {
    left: -50%;
  }
  .pull-hd-7 {
    left: -58.33333333%;
  }
  .pull-hd-8 {
    left: -66.66666667%;
  }
  .pull-hd-9 {
    left: -75%;
  }
  .pull-hd-10 {
    left: -83.33333333%;
  }
  .pull-hd-11 {
    left: -91.66666667%;
  }
  .hide-hd {
    display: none;
  }
  .show-hd {
    display: block;
  }
  .show-hd-inline-block {
    display: inline-block;
  }
  .show-hd-inline {
    display: inline;
  }
  .hd-no-padding {
    padding: 0;
  }
  .hd-no-push,
  .hd-no-pull {
    left: 0;
  }
}
.call-to-action-wrapper {
  /*min-height: 90vh;
  background: url(backgroundtest.jpg) #48466d;
  background-size: 188px auto;
  border-bottom: 15px solid #46b6cf;
  */
  margin-bottom: 5rem;
  
}
.call-to-action-wrapper > * {
  color: #fff;
}
.call-to-action-wrapper .logo {
  width: 227px;
  margin-top: 110px;
  display: block;
  margin: 0 auto;
  padding-top: 110px;
}
.call-to-action-wrapper h2 {
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}
.call-to-action-wrapper h5 {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
  margin-top: 0;
  text-align: center;
}
.call-to-action-wrapper .button {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
.call-to-action-wrapper .micro-container {
  margin: 3rem auto;
}

.code-window {
  max-width: 700px;
  height: 380px;
  border-radius: 4px;
  background: #fff;
  margin: 3rem auto -5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.code-window .code-editor {
  position: relative;
  height: 340px;
  color: #444;
}


.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down-big {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-left {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-left-big {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-right {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-right-big {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-up-big {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100%;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .hide-print {
    display: none;
  }
  .show-print {
    display: block;
  }
  .show-print-inline-block {
    display: inline-block;
  }
  .show-print-inline {
    display: inline;
  }
}