
#booklist {
    width:100%;
}

.relationsImage {
    width:100%; padding:10px;
}

#book_description {
    display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    width: 300px;
}

/* DOCUMENTATION PAGE STYLES */
.codesnippet-elegant-model-conventions {
    height:12em;
}

.codesnippet-table-names {
    height:17em;
}

.codesnippet-working-with-data {
    height:15em;
}

.codesnippet-inserts {
    height:16em;
}

.codesnippet-updates {
    height:16em;
}

.codesnippet-deletes {
    height:16em;
}

.codesnippet-selects {
    height:3em;
}

.codesnippet-one-to-one {
    height:17em;
}

.codesnippet-one-to-many {
    height:19em;
}

.codesnippet-many-to-many {
    height:21em;
}

.codesnippet-simple-where-clause {
    height:17em;
}

.codesnippet-and-statements {
    height:17em;
}

.codesnippet-or-statements {
    height:17em;
}

.customer-list-codesnippet-oneToMany {
        height:3em;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    padding-left:15%;
    /* text-align: center; */
    z-index: 10;/* https://stackoverflow.com/questions/34106499/how-can-i-stop-a-div-that-is-scrolling-over-the-navbar */
}

#buttons {
    /* https://stackoverflow.com/questions/34106499/how-can-i-stop-a-div-that-is-scrolling-over-the-navbar */
    z-index: 10;   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: white;    
    text-align: center;
}
/* For an unknown amount of children you could use. */

#buttons > * {
    display: block;
    margin-top: 1em;
}

#buttons > *:first-child {
    margin-top: 0px;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-left:5%;
    margin-right:5%;
    padding-right:5%;
    overflow-x: hidden; 
}

body{
    padding-top:10%;
    padding-bottom:10%;
}

html, body::-webkit-scrollbar  {
    overflow-y:auto;
  }

#element::-webkit-scrollbar { 
    display: none; 
}


#footer-padding-top {
    min-height: 150px;
    width:100%;
}

.footer {
    background-color:rgb(60, 105, 146);
    width:100%;
    z-index: 10;   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
