
#booklist {
    width:100%;
}

.relationsImage {
    width:100%; padding:10px;
}

#book_description {
    display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    width: 300px;
}

/* DOCUMENTATION PAGE STYLES */
.codesnippet-elegant-model-conventions {
    height:12em;
}

.codesnippet-table-names {
    height:17em;
}

.codesnippet-working-with-data {
    height:15em;
}

.codesnippet-inserts {
    height:16em;
}

.codesnippet-updates {
    height:16em;
}

.codesnippet-deletes {
    height:16em;
}

.codesnippet-selects {
    height:3em;
}

.codesnippet-one-to-one {
    height:17em;
}

.codesnippet-one-to-many {
    height:19em;
}

.codesnippet-many-to-many {
    height:21em;
}